{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="login-content content">
        <div class="text-center">
            <h1>
                Zaloguj się
            </h1>
        </div>
        <br />
        <br />
        <form method="POST">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputLogin" class="text-center w-100">
                <h5>
                    Podaj swój login:
                </h5>
            </label>
            <input id="inputLogin" type="text" name="login" autocomplete="login" value="{{ last_username }}" placeholder="Wpisz login" required autofocus>
            <label for="inputPassword" class="text-center w-100">
                <h5>
                    Podaj swoje hasło:
                </h5>
            </label>
            <input id="inputPassword" type="password" name="password" placeholder="Wpisz hasło" autocomplete="current-password" required>
            <div class="text-center">
                <input type="submit" name="submit" value="Zaloguj się"><br/>
                <a class="registration" href="/register">Zarejestruj się</a>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>

{% endblock %}
