{% extends('base.html.twig') %}

{% block body %}

    <div class="content todo-content">
        <div class="todo-list">
            {% for value in todo %}
                <form id="todo_id-{{ value.id }}">
                    <input type="text" class="todo_value-{{ value.id }}" name="todo_value-{{ value.id }}" value="{{ value.desc }}">
                    <input type="button" class="update-button" name="todo_update-{{ value.id }}" value="Zapisz">
                    <input type="button" class="remove-button" name="todo_remove-{{ value.id }}" value="Usuń">
                </form>
            {% endfor %}
        </div>

        <form id="todo_add">
            <input type="text" name="todo_new" value="">
            <input type="button" name="todo_add" value="Dodaj">
        </form>
    </div>

{% endblock body %}