{% extends('base.html.twig') %}

{% block body %}

    <div class="content login-content">
        <div class="text-center">
            <h1>
                Zarejestruj się
            </h1>
        </div>
        <br />
        <br />
        {% if status == 2 %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if status == 1 %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <form method="POST">
            <div class="text-center">
                <h5>
                    Podaj swój login:
                </h5>
            </div>
            <input type="text" name="login" placeholder="Wpisz login" required>
            <div class="text-center">
                <h5>
                    Podaj swój e-mail:
                </h5>
            </div>
            <input type="email" name="email" placeholder="Wpisz e-mail" required>
            <div class="text-center">
                <h5>
                    Podaj swoje hasło:
                </h5>
            </div>
            <input type="password" name="password" placeholder="Wpisz hasło" required>
            <div class="text-center">
                <h5>
                    Powtórz swoje hasło:
                </h5>
            </div>
            <input type="password" name="password2" placeholder="Powtórz hasło" required>
            <div class="text-center">
                <input type="submit" name="submit" value="Zarejestruj się"><br/>
                <a class="registration" href="/login">Zaloguj się</a>
            </div>
        </form>
    </div>

{% endblock body %}