html, body {
    height: 100%;
    background-color: #403d39;
    color: #F3F3F3;
}
input[type='button'], input[type='submit'] {
    background-color: #3C1874;
    color: #F3F3F3;
    border: 0px;
    height: 40px;
    margin: 3px;
    font-weight: 600;
    transition: .3s;
}
.todo-content div form input[type='button'], .todo-content form input[type='button'] {
    width: 7%;
}
.login-content form input[type='submit'] {
    width: 50%;
}
input[type='button']:hover, input[type='submit']:hover {
    background-color: #F3F3F3;
    color: #3C1874;
}
input[type='button']:active, input[type='submit']:active {
    border: 3px solid white;
}
input[type='text'], input[type='password'], input[type='email'] {
    background-color: #fffcf2;
    border: 0px;
    height: 40px;
}
.todo-content div form input[type='text'], .todo-content form input[type='text'] {
    width: 84%;
}
.login-content form input[type='text'], .login-content form input[type='password'], .login-content form input[type='email'] {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
.content {
    margin-top: 150px;
    padding: 20px;
    background-color: #353535;
}
.login-content {
    width: 30%;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
}
.navbar {
    background-color: #3C1874 !important;
}
a.nav-link, a.navbar-brand {
    color: #F3F3F3 !important;
}
a.registration {
    color: white;
    text-decoration: none;
}