
{% if app.user %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">ToDo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#                    </li>#}
                </ul>
                <div class="d-flex">
                    <a class="btn btn-outline-light" href="{{ path('app_logout') }}">Wyloguj się</a>
                </div>
            </div>
        </div>
    </nav>

{% endif %}